
body{
    background-color: whitesmoke;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}
h1{
    font-family: 'Kalam',Arial, cursive;
    color:  #66BFBF;
    margin:0 auto 0 ;
    font-size: 5.625rem ;

    
}   
h2{
    color: #66BFBF;
    font-weight: normal;
}
h3,a{color:#11999E;}
h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}
.profile-picture{
    height: 350px;
    width: 350px;
    border:solid bisque;
    background: bisque;
    border-radius: 100%;
}

.skill-image{
    width: 25%;
    float: left;
    margin-right: 20px;
}
.driven{
    float: right;
    margin-left: 20px;
}

.top{
    border-width: 2px;
    padding: 20px;
    background:#f5f7b2;
    position: relative;
    padding-top:100px; 
}
.cloud{
    color: white;;
}

.top-cloud{
    position: absolute;
    right: 350px;
    top: 50px;

}

.bottom-cloud{
    position: absolute;
    bottom:200px;
    left: 200px;
}


.skill-row{
    margin:100px auto;
    display: inline-block;
    width: 50%;
    text-align: left;
    line-height: normal;
}

.middle-container{
    background-color: whitesmoke;
    margin: 30px;
    

}
.bottom-container{
    background-color:#66BFBF ;
    padding: 2em;
    padding-bottom: 1em;
    color: #EAF6F6;
    
}

.footer-link{
    color:#11999E;
    margin: 10px;
}
.footer-link:hover{
    color:black;
}
.submit {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #68ebf1, rgba(30, 200, 208, 0));
    background-image: -moz-linear-gradient(top, #50F5FD, rgba(30, 200, 208, 0));
    background-image: -ms-linear-gradient(top, #50F5FD, rgba(30, 200, 208, 0));
    background-image: -o-linear-gradient(top, #50F5FD, rgba(30, 200, 208, 0));
    background-image: -webkit-gradient(to bottom, #50F5FD, rgba(30, 200, 208, 0));
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #EAF6F6;
    font-family: Courier New;
    font-size: 18px;
    font-weight: 600;
    padding: 18px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .submit:hover {
     background-color: blue;
 }

 hr{
     height: 0;
     border-style: none;
     border-top: dotted;
     border-width: 5px;
     border-color: black;
     width: 10%;
     
 }